<?xml version="1.0" encoding="utf-8"?>
<Project>
	<PropertyGroup>
		<Configuration>Release</Configuration>
		<Platform>Any CPU</Platform>

		<!-- Where to publish the files locally -->
		<PublishDir>$(SolutionDir)docs\</PublishDir>

		<!-- Where the app will be hosted online -->
		<PublishUrl>https://amourgis-associates-attorneys-at-law.github.io/CalliAPICORE/</PublishUrl>
		<UpdateUrl>https://amourgis-associates-attorneys-at-law.github.io/CalliAPICORE/</UpdateUrl>

		<!-- ClickOnce-specific settings -->
		<PublishProtocol>ClickOnce</PublishProtocol>
		<Install>true</Install>
		<InstallFrom>Web</InstallFrom>
		<CreateWebPageOnPublish>true</CreateWebPageOnPublish>
		<WebPageFileName>Publish.html</WebPageFileName>
		<MapFileExtensions>true</MapFileExtensions>
		<ApplicationVersion>1.9.0.0</ApplicationVersion>
		<IsRevisionIncremented>false</IsRevisionIncremented>
		<SignManifests>false</SignManifests>
		<TargetFramework>net8.0-windows</TargetFramework>
		<CreateDesktopShortcut>true</CreateDesktopShortcut>
		<StartMenuGroup>CalliAPI</StartMenuGroup>
		<ProductName>CalliAPI</ProductName>
		<PublisherName>Jacob Hayes</PublisherName>
		<SuiteName>AmourgisCORE</SuiteName>
		<TargetCulture>en</TargetCulture>
	</PropertyGroup>
</Project>
