<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <!-- Where to publish the files locally -->
    <PublishDir>bin\Release\net8.0-windows\app.publish\</PublishDir>
    <!-- Where the app will be hosted online -->
    <UpdateUrl>https://amourgis-associates-attorneys-at-law.github.io/CalliAPICORE/</UpdateUrl>
    <!-- ClickOnce-specific settings -->
    <PublishProtocol>ClickOnce</PublishProtocol>
    <Install>True</Install>
    <InstallFrom>Disk</InstallFrom>
    <CreateWebPageOnPublish>true</CreateWebPageOnPublish>
    <WebPageFileName>Publish.html</WebPageFileName>
    <MapFileExtensions>false</MapFileExtensions>
    <ApplicationVersion>$(Version)</ApplicationVersion>
    <IsRevisionIncremented>False</IsRevisionIncremented>
    <SignManifests>False</SignManifests>
    <TargetFramework>net8.0-windows</TargetFramework>
    <CreateDesktopShortcut>true</CreateDesktopShortcut>
    <ProductName>CalliAPI</ProductName>
    <PublisherName>Jacob Hayes</PublisherName>
    <SuiteName>AmourgisCORE</SuiteName>
    <TargetCulture>en</TargetCulture>
    <ApplicationRevision>0</ApplicationRevision>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <GenerateManifests>true</GenerateManifests>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <PublishUrl>bin\publish\</PublishUrl>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SkipPublishVerification>false</SkipPublishVerification>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
  </PropertyGroup>
</Project>